.VimballRecord
.netrwhist
autoload/
bundle/
doc/*.txt
doc/tags
douglas.add
douglas.add.spl
macros/
plugin/pyclewn.vim
syntax/clewn_variables.vim
syntax/info.vim
syntax/man.vim
syntax/mangl.vim
syntax/mankey.vim
syntax/manphp.vim
view/
vimball/
